<center>
<form action="/deliveryDT">
    <h2>
    Courier Details
  </h2>
  <input type="radio" name="Courier" id="free" value="free" checked> Free $0: 2 day wait<br>
  <input type="radio" name="Courier" id="express" value="Express"> Express $10: Next Day<br>
  <br>
  <input type="submit" onclick="pageLoad()" value="Submit Courier">
</form>
</center>
