<center>
<form action='/DeliveryFree'>
    <h2>
    Courier Details
  </h2>
  <div style=" font-size: 20px; font-weight: bold;">
  <input  type="Submit" value="Free">
  <br>
  </div>
  Standard 2-5 Day Delivery
<p></p>
</form>
  <form action='/DeliveryDT'>
  <div style=" font-size: 20px; font-weight: bold;">
  <input  type="Submit" value="Express">
  </div>
  Next Day Delivery
  <p></p>
</form>
</script>
</center>
