<center>
  <form id="del" method="post" action="delivery/deliveryDT">
    <h2>
  Standard Delivery
  </h2>
  <p style="font-weight: bold;">Please select your delivery day:</p>
  <select name="DeliveryDate" id="DeliveryDate" value="{{DeliveryDate}}" required>
  <option value="Date+2"> <p id="Day2">18/9</p> </option>
  <option value="Date+3"> <p id="Day2">19/9</p> </option>
  <option value="Date+4"> <p id="Day2">20/9</p> </option>
  <option value="Date+5"> <p id="Day2">21/9</p> </option>
  </select>
  <p> </p>

  <p style="font-weight: bold;">Please select your estimated delivery time:</p>
  <select name="DeliveryTime" id="DeliveryTime" value="{{DeliveryTime}}" required>
    <option value="8AM">8AM</option>
    <option value="10AM">10AM</option>
    <option value="12PM">12PM</option>
    <option value="2PM">2PM</option>
    <option value="4PM">4PM</option>
    <option value="6PM">6PM</option>
    <option value="8PM">8PM</option>
  </select>
  <p></p>
  <input type="submit" value="Submit Delivery">
  </form>
  </center>
<script>

Handlebars.registerHelper('day3', function() {
    return new Handlebars.SafeString( '<i>Hello World</i>' );
});

  window.onload = function() {
  var today = new Date();
  document.getElementById("Day2").innerHTML = ""+ ( today.getDate() + 2 ) + "/" +  today.getMonth();
  document.getElementById("Day3").innerHTML = ""+ ( today.getDate() + 3 ) + "/" +  today.getMonth();
  document.getElementById("Day4").innerHTML = ""+ ( today.getDate() + 4 ) + "/" +  today.getMonth();
  document.getElementById("Day5").innerHTML = ""+ ( today.getDate() + 5 ) + "/" +  today.getMonth();
  }
</script>