 <center>
 <h1>
  Delivery System Prototype
  </h1>

  <form action="/courier">
    <h2>
    Delivery Details
  </h2>
    Appartment Number:
    <input type="number" name="appNum" id="appNum" maxlength="5">
    <br>
    Street Number:
    <input type="number" name="steetNum" id="streetNum" maxlength="5" required>
    <br>
    Street Name:
    <input type="text" name="streetName" id="streetName" maxlength="30" required>
    <br>
    Suburb:
    <input type="text" name="suburbName" id="suburbName" maxlength="15" required>
    <br>
    Postcode:
    <input type="number" name="postcode" id="postcodeNum" maxlength="4" required>
    <br>
    State:
    <select name="state" id="state" required>
      <option value="NSW">NSW</option>
      <option value="QLD">QLD</option>
      <option value="VIC">VIC</option>
      <option value="TAS">TAS</option>
      <option value="WA">WA</option>
      <option value="SA">SA</option>
      <option value="NT">NT</option>
    </select>
    <br>
  <input type="button" onclick="showData()" value="Verify">
  <br>
  <label id="yourAddress"></label>
  <p><span id='display'></span></p>
  <input type="submit" id="formSubmit" value="Submit Address">
  </form>
</center>
