<center>
<form method="get" action='/delivery/deliveryTracking'>
    <h2>
    Delivery Tracking
  </h2>
  Delivery ID:</p>
    <input type="string" class="form-control" name="deliveryID" value="{{deliveryID}}" required></input>
    <p style="text-align: left; font-weight: bold;"></p>
      <input type="submit"></input>
</form> 
</script>
</center>
