
      <div class="overlay"></div>

      <div class="container">

        <div class="row">

          <div class="col-lg-8 col-md-10 mx-auto">

            <div class="post-heading">

              <h1>404 PAGE NOT FOUND</h1>

              <h2 class="subheading"><a href="/">Return back home</a></h2>

            </div>

          </div>

        </div>

      </div>

    </header>



<footer class="page-footer container-fluid font-small  pt-4">

        <!-- Footer Links -->
        <div class=" text-center text-md-left">
               
          <!-- Grid row -->
          <div class="row">

            
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3 text-center">
      
              <!-- Content -->
              <h5 class="text-uppercase">Follow us</h5>
              
                    <i class="fa fa-twitter fa-4x" ></i> <br>

                    <i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i> <br>

                    <i class="fa fa-youtube fa-4x" aria-hidden="true"></i>
              
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
            <!--  <h5 class="text-uppercase">Links</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Link 1</a>
                </li>
                <li>
                  <a href="#!">Link 2</a>
                </li>
                <li>
                  <a href="#!">Link 3</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>-->
      
            </div>
           
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
             <!-- <h5 class="text-uppercase">Links</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Link 1</a>
                </li>
                <li>
                  <a href="#!">Link 2</a>
                </li>
                <li>
                  <a href="#!">Link 3</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>-->
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>



       




        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
         
         <i> Group11</i>  
        </div>
        <!-- Copyright -->
      
    </footer>
    