<center>
      <h3 class="text-center">Payment</h3>
      <form id="pay" action="/payment/payment" method="post">
        <div class="form-group">
          <label for="cardnum">Card Number</label>
          <input type="text" class="form-control" name="cardnum" value="{{cardnum}}" style="width: 300px;">
        </div>
        <div class="form-group">
          <label for="expiredate">Expiration Date</label>
          <input type="month" class="form-control" name="expiredate" value="{{expiredate}}"style="width: 200px;">
        </div>
        <div class="form-group">
          <label for="securitycode">Security Code</label>
          <input type="text" class="form-control" name="securitydate" value="{{securitydate}}"style="width: 75px;">
        </div>
        <div class="form-group">
          <label for="address">Phone Number</label>
          <input type="text" class="form-control" name="phonenum" value="{{phonenum}}"style="width: 300px;">
        </div>
        <div class="form-group">
          <label for="Price">Price: $12.00</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</center>