.navbar{
  background-color: #316b18;
  height: 50px;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  
}
.navbarBottom{
  background-color: #bfa73b;
  
}

.card img{
  width: 100px;
}

.card {
  width: 100px;
  border: none;
}

.carousel-inner img {
  width: 100%;
  height: 30%;
  margin-top: 2px;
  box-shadow: 0 10px 13px -13px rgba(0, 0, 0, .5);
  margin-bottom: 30px;
}



.slide {
  color:black;
}

.row {
 margin-bottom: 20px;
}


.collapse ul li form {
  padding-right: 40px;
}

.carousel slide{
  width: 160px;
}

.form-inline input i{ 
 color: aliceblue;

}

.page-footer{
  position: absolute;
  left:0;
  right: 0;
  width: 100%;
  height: 310px;
  background-color: lightgray;
}

.carousel {
  width: 1300px;
}

.carousel-item img{
  height: 300px;
}










.navbar{
  margin-bottom: 20px;
}


.card {
  border: none;
}

.card-text{
  color: #7f7f7f;
}
.card img{
  max-height: 150px;
  max-width: 200px;;

}

.price {
  font-weight: bold;
  font-size: 22px;
}

.thumbnail img{
  max-height: 150px;
  margin: 5px;
}

.description{
  color: #7f7f7f;
}

.thumbnail-columns{
  border-radius:10px;
  padding: 5px;
  margin: 5px;
}

.cart-columns{
  margin-left: 50px;
}
