<div class="row" align="center">
  <div class="card card-body">
    <h3 class="text-center">Order Management</h3>
    <style type="text/css">
      .tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
      .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
      .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
      .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
      .tg .tg-abip{background-color:#f9f9f9;border-color:inherit;text-align:center;vertical-align:top}
      </style>
      <table class="tg">
        <tr>
          <th class="tg-c3ow" colspan="5">Orders</th>
        </tr>
        <tr>
          <td class="tg-abip">OrderID</td>
          <td class="tg-abip">UserId</td>
          <td class="tg-abip">Address</td>
          <td class="tg-abip">Price</td>
          <td class="tg-abip">Status</td>
        </tr>
        <tr>
          <td class="tg-c3ow">3847582893</td>
          <td class="tg-c3ow">8495094837</td>
          <td class="tg-c3ow">2532 Elk Avenue</td>
          <td class="tg-c3ow">$30.65</td>
          <td class="tg-c3ow">Delivered</td>
        </tr>
        <tr>
          <td class="tg-abip">6547893126</td>
          <td class="tg-abip">4759302474</td>
          <td class="tg-abip">2857 River Road</td>
          <td class="tg-abip">$100.40</td>
          <td class="tg-abip">In-transit</td>
        </tr>
</table>
