         <div class="container">
    <h1>File Upload</h1>
    <form action="users/avatar" method="POST" enctype="multipart/form-data">
      <div class="file-field input-field">
        <div class="btn grey">
          <span>File</span>
          <input name="avatar" type="file">
        </div>
      </div>
      <button type="submit" class="btn">Submit</button>
    </form>
    <br>
  </div>