<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Porduct ID</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
      <!--<th scope="col"><a href="/users/checkout" class="btn btn-success">Checkout</a></th>!-->
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>John Doe</td>
      <td>2</td>
      <td>$20</td>
      <td> <a href="/users/payment" class="btn btn-success">Checkout</a></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>1</td>
      <td>$4</td>
      <td> <a href="/users/payment" class="btn btn-success">Checkout</a></td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>9</td>
      <td>$100</td>
      <td> <a href="/users/payment" class="btn btn-success">Checkout</a></td>
    </tr>
  </tbody>
</table>