<div class="row">
  <div class="col-md-6 mx-auto">
      <img class="logo"  src="/img/Login.png">
      <h3 class="text-center">Login</h3>
      <form method="post" action="/users/login">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Log in</button>
        <br>
         <a class="Link Link--alt Link--alt" href="/users/forgot">
        <span class="Text small fwm"><span>Forgot Password</span></span></a>
        <br>
        <span class="Text small c-bw-6 fwm mr-2"><span>Don’t have an account yet? </span></span>
        <a class="Link Link--alt Link--alt" href="/users/register">
        <span class="Text small fwm"><span>Sign up</span></span></a>
      </form>
   
  </div>
</div>