<div class="row" align="center">
  <div class="card card-body">
    <h3 class="text-center">Privilege Management</h3>
    <style type="text/css">
        .tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
        .tg td{padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
        .tg th{font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}
        .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
        .tg .tg-abip{background-color:#f9f9f9;border-color:inherit;text-align:center;vertical-align:top}
        .tg .tg-dzk6{background-color:#f9f9f9;text-align:center;vertical-align:top}
    </style>
  <!--   <form action="/users/success" method="get"> -->
      <table class="tg">
        <tr>
          <th class="tg-c3ow" colspan="5">Users</th>
        </tr>
        <tr>
          <td class="tg-abip">ID</td>
          <td class="tg-abip">First name</td>
          <td class="tg-abip">Last name</td>
          <td class="tg-abip">Email</td>
          <td class="tg-abip">Privilege level</td>
        </tr>
        <tr>
          <td class="tg-c3ow">3847582893</td>
          <td class="tg-c3ow">doing</td>
          <td class="tg-c3ow">Smith</td>
          <td class="tg-c3ow">lukesmith1@gmail.com</td>
          <td class="tg-c3ow">
            <select>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="tg-dzk6">6547893126</td>
          <td class="tg-dzk6">Mike</td>
          <td class="tg-dzk6">Nolan</td>
          <td class="tg-dzk6">mikenolan8@gmail.com</td>
          <td class="tg-dzk6">
            <select>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
            </select>
          </td>
        </tr>
      </table>
      <br>
      <div display="inline" margin="5px">
        <a><button class="btn btn-primary">Save Changes</button></a>
        <a href="/">
          <button class="btn btn-primary">Home</button>
        </a>
      </div>
<!--    </form> -->
  </div>
</div>
